<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <h1>C2C API Hub</h1>
    <form action="/api/search" method="POST">
      <input name="Latitude" placeholder="Latitude">
      <input name="Longitude" placeholder="Longitude">
      <input name="HubHeight" placeholder="Hub Height">
      <select name="WindSurface">
        <option value="vegtype_1">vegtype_1</option>
        <option value="vegtype_2">vegtype_2</option>
        <option value="vegtype_3">vegtype_3</option>
        <option value="vegtype_4">vegtype_4</option>
        <option value="vegtype_5">vegtype_5</option>
        <option value="vegtype_6">vegtype_6</option>
        <option value="vegtype_7">vegtype_7</option>
        <option value="vegtype_8">vegtype_8</option>
        <option value="vegtype_9">vegtype_9</option>
        <option value="vegtype_10">vegtype_10</option>
        <option value="vegtype_11">vegtype_11</option>
        <option value="vegtype_12">vegtype_12</option>
        <option value="vegtype_20">vegtype_20</option>
        <option value="seaice">seaice</option>
        <option value="openwater">openwater</option>
        <option value="airportice">airportice</option>
        <option value="airportgrass">airportgrass</option>
      </datalist>
      <input name="start" type="date">
      <input name="end" type="date">
      <input type="submit">
    </form>
  </body>
  <%- include('../partials/footer.ejs') %>
</html>
